{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": null,
    "at-rule-no-vendor-prefix": true,
    "block-closing-brace-empty-line-before": null,
    "block-closing-brace-newline-after": null,
    "block-closing-brace-newline-before": null,
    "block-closing-brace-space-before": null,
    "block-opening-brace-newline-after": null,
    "block-opening-brace-space-after": null,
    "block-opening-brace-space-before": null,
    "at-rule-no-unknown": [true, {
      ignoreAtRules: [
        'function', 'if',
        'include', 'for',
        'content', 'else'
      ]
    }],
    "color-hex-length": null,
    "declaration-block-semicolon-newline-after": null,
    "declaration-block-semicolon-space-after": null,
    "declaration-block-semicolon-space-before": null,
    "declaration-block-trailing-semicolon": null,
    "media-feature-name-no-vendor-prefix": true,
    "order/order": [
      "custom-properties",
      "dollar-variables",
      "declarations",
      "at-rules",
      "rules"
    ],
    "property-no-vendor-prefix": true,
    "selector-combinator-space-after": null,
    "selector-no-vendor-prefix": true,
    "value-no-vendor-prefix": true
  }
}
