<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="theme-color" content="#fdf6e3" />
    <link rel="manifest" href="/manifest.json" />
    <title>
      <%= current_page.data.title || "Master Password Generator" %>
    </title>
    <%= stylesheet_pack_tag "app" %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_pack_tag "app" %>
  </body>
</html>
