@import 'variables'

.form-dropdown
  margin-bottom: 15px

.form-dropdown__wrapper
  width: 99%
  font-size: responsive 28px 35px
  font-range: 320px 980px

.form-dropdown__label
  padding-right: 10px

.form-dropdown__error
  lost-row: 1
  color: $red
  font-size: responsive 14px 20px
  font-range: 320px 980px
