@import 'functions'
@import 'variables'

.form-dropdown
  margin-bottom: 15px

  &__wrapper
    width: 99%
    @include responsive-font-size(28px 35px)

  &__select
    color: var(--baseColor)

  &__label
    padding-right: 10px

  &__error
    lost-row: 1
    color: $red
    @include responsive-font-size(16px 20px)
