@import 'functions'
@import 'variables'

.form-field
  lost-flex-container: row
  margin-bottom: 15px

.form-field--error
  border: 1px solid $red
  padding: 5px

.form-field__input-wrapper
  width: 100%

.form-field__input
  width: 99%
  @include responsive-font-size(28px 35px)

.form-field__error
  color: $red
  @include responsive-font-size(16px 20px)
