@import 'variables'

.form-field
  lost-flex-container: row
  margin-bottom: 15px

.form-field--error
  border: 1px solid $red
  padding: 5px

.form-field__input-wrapper
  lost-row: 1 0

.form-field__input
  width: 99%
  font-size: responsive 28px 35px
  font-range: 420px 980px

.form-field__error
  color: $red
  font-size: responsive 14px 20px
  font-range: 420px 980px
