@import '~normalize.css/normalize'
@import 'settings'
@import 'variables'

html
  background-color: var(--headsColor)
  color: var(--baseColor)

body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  font-size: responsive 14px 20px
  font-range: 320px 980px

code
  background-color: var(--headsColor)
  padding: 2px

a
  color: $yellow

a:visited
  color: $orange

a:hover
  color: $orange
  text-decoration: none

h1
  color: $magenta

h2, h3, h4, h5, h6
  color: $green

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  appearance: none
  margin: 0

#app-root
  padding: 30px 20px
