@import '~normalize.css/normalize'
@import 'settings'
@import 'mixins'
@import 'variables'

html
  @include variable(background-color, --headsColor, $base2)
  @include variable(color, --baseColor, $base00)

body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  font-size: responsive 16px 20px
  font-range: 420px 980px
  @include variable(background-color, --bgColor, $base3)

code
  @include variable(background-color, --headsColor, $base2)
  padding: 2px

a
  color: $yellow

a:visited
  color: $orange

a:hover
  color: $orange

h1
  color: $magenta

h2, h3, h4, h5, h6
  color: $green

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  appearance: none
  margin: 0
