@import '~normalize.css/normalize'
@import 'settings'

body
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  font-size: responsive 14px 20px
  font-range: 420px 980px
