@import 'mixins'
@import 'variables'

.app
  lost-center: 980px
  @include variable(background-color, --bgColor, $base3)

.app__main
  lost-column: 1

.app__navigation
  lost-flex-container: row

.app__navigation__item
  lost-column: 1/3
